# FastAPI + Web
fastapi==0.110.1
uvicorn==0.29.0
pydantic[email]==2.7.1

# ORM + Hashing
sqlalchemy==2.0.30
bcrypt==4.1.2

# ML + AI models
scikit-learn==1.3.2
sentence-transformers==2.6.1
joblib==1.4.2
pillow==10.3.0

# Transformers & T5 summarization
transformers==4.40.0
sentencepiece==0.1.99
huggingface-hub==0.23.0
torch==2.2.2
typing_extensions==4.11.0

# Progress display
tqdm==4.66.4


